In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 19.9 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=da4d4a8b64701f4b821a08d8b2561d3c9dc64ad3a929ae33af711a1c10069acb
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
import pyspark

In [ ]:
import pandas as pd

In [ ]:
# sample=pd.read_excel("sample.xlsx")

In [ ]:
# sample

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName("practice").getOrCreate()

In [ ]:
spark

In [ ]:
df_py=spark.read.csv("/content/sample.csv")

In [ ]:
df_py.show()

+-------+---+----------+
|    _c0|_c1|       _c2|
+-------+---+----------+
|   Name|Age|Experience|
|  Vijay| 22|         1|
| vijays| 22|       1.5|
| Dinesh| 23|         2|
|  dhanu| 22|         2|
|Aswanth| 23|      null|
+-------+---+----------+

In [ ]:
spark.read.option('header','true').csv('sample.csv')

DataFrame[Name: string, Age: string, Experience: string]

In [ ]:
spark.read.option('header','true').csv('sample.csv').show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|  Vijay| 22|         1|
| vijays| 22|       1.5|
| Dinesh| 23|         2|
|  dhanu| 22|         2|
|Aswanth| 23|      null|
+-------+---+----------+

In [ ]:
df_py=spark.read.option('header','true').csv('sample.csv')

In [ ]:
type(df_py)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_py.head()

Row(Name='Vijay', Age='22', Experience='1')

In [ ]:
df_py.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

###PySpark DataFrames

In [ ]:
# -PySpark Dataframe
# -Reading The Dataset
# -Checking the Datatypes of the Column(Schema)
# -Selecting Columns And Indexing
# -Check Describe option similar to Pandas
# -Adding Columns
# -Dropping columns
# -Renaming Columns

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('DataFrame').getOrCreate()

In [ ]:
spark

In [ ]:
# Read The Dataset
df=spark.read.option('header','true').csv('sample.csv',inferSchema=True)

In [ ]:
# check the schema

In [ ]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: double (nullable = true)

In [ ]:
df=spark.read.csv('sample.csv',header=True,inferSchema=True)

In [ ]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: double (nullable = true)

In [ ]:
# in spark DataFrame means Data structures

In [ ]:
type(df)

pyspark.sql.dataframe.DataFrame

In [ ]:
df.head(3)

[Row(Name='Vijay', Age=22, Experience=1.0),
 Row(Name='vijays', Age=22, Experience=1.5),
 Row(Name='Dinesh', Age=23, Experience=2.0)]

In [ ]:
df.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|  Vijay| 22|       1.0|
| vijays| 22|       1.5|
| Dinesh| 23|       2.0|
|  dhanu| 22|       2.0|
|Aswanth| 23|      null|
+-------+---+----------+

In [ ]:
df.select('Name').show()

+-------+
|   Name|
+-------+
|  Vijay|
| vijays|
| Dinesh|
|  dhanu|
|Aswanth|
+-------+

In [ ]:
type(df.select('Name'))

pyspark.sql.dataframe.DataFrame

In [ ]:
df.select('Name','Experience')

DataFrame[Name: string, Experience: double]

In [ ]:
df.select('Name','Experience').show()

+-------+----------+
|   Name|Experience|
+-------+----------+
|  Vijay|       1.0|
| vijays|       1.5|
| Dinesh|       2.0|
|  dhanu|       2.0|
|Aswanth|      null|
+-------+----------+

In [ ]:
df['Name']

Column<'Name'>

In [ ]:
df.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'double')]

In [ ]:
df.describe().show()

+-------+-------+-----------------+-------------------+
|summary|   Name|              Age|         Experience|
+-------+-------+-----------------+-------------------+
|  count|      5|                5|                  4|
|   mean|   null|             22.4|              1.625|
| stddev|   null|0.547722557505166|0.47871355387816905|
|    min|Aswanth|               22|                1.0|
|    max| vijays|               23|                2.0|
+-------+-------+-----------------+-------------------+

###Adding Columns in DataFrame

In [ ]:
df=df.withColumn('Experience After 2 Years',df['Experience']+2)

In [ ]:
df.show()

+-------+---+----------+------------------------+
|   Name|Age|Experience|Experience After 2 Years|
+-------+---+----------+------------------------+
|  Vijay| 22|       1.0|                     3.0|
| vijays| 22|       1.5|                     3.5|
| Dinesh| 23|       2.0|                     4.0|
|  dhanu| 22|       2.0|                     4.0|
|Aswanth| 23|      null|                    null|
+-------+---+----------+------------------------+

In [ ]:
###Drop the Columns

In [ ]:
df=df.drop('Experience After 2 Years')

In [ ]:
df.show()

+-------+---+----------+
|   Name|Age|Experience|
+-------+---+----------+
|  Vijay| 22|       1.0|
| vijays| 22|       1.5|
| Dinesh| 23|       2.0|
|  dhanu| 22|       2.0|
|Aswanth| 23|      null|
+-------+---+----------+

In [ ]:
#Rename the Column
df=df.withColumnRenamed('Name','NewName')

In [ ]:
df.show()

+-------+---+----------+
|NewName|Age|Experience|
+-------+---+----------+
|  Vijay| 22|       1.0|
| vijays| 22|       1.5|
| Dinesh| 23|       2.0|
|  dhanu| 22|       2.0|
|Aswanth| 23|      null|
+-------+---+----------+

###Pyspark Handling Missing Values

In [ ]:
# Dropping Columns
# Dropping Rows
# Various Parameter In Dropping functionalities
# Handling Missing values by Mean, MEdian And Mode

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('practice').getOrCreate()

In [ ]:
spark

In [ ]:
spark.read.csv("sample2.csv",header=True,inferSchema=True).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Vijay| 22|       1.0|28,400|
| vijays| 22|       1.5|27,500|
|  Dhanu| 22|       2.0| 16000|
|  Deenu| 23|       2.0| 16000|
|Aswanth| 23|      null|  null|
|Srinath| 22|       1.0|  null|
|   null| 20|      null|  5000|
+-------+---+----------+------+

In [ ]:
spark.read.csv("sample2.csv",header=True,inferSchema=True)

DataFrame[Name: string, Age: int, Experience: double, Salary: string]

In [ ]:
data=spark.read.csv("sample2.csv",header=True,inferSchema=True)

In [ ]:
data.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Vijay| 22|       1.0|28,400|
| vijays| 22|       1.5|27,500|
|  Dhanu| 22|       2.0| 16000|
|  Deenu| 23|       2.0| 16000|
|Aswanth| 23|      null|  null|
|Srinath| 22|       1.0|  null|
|   null| 20|      null|  5000|
+-------+---+----------+------+

In [ ]:
###Drop the columns
data.drop('Name').show()

+---+----------+------+
|Age|Experience|Salary|
+---+----------+------+
| 22|       1.0|28,400|
| 22|       1.5|27,500|
| 22|       2.0| 16000|
| 23|       2.0| 16000|
| 23|      null|  null|
| 22|       1.0|  null|
| 20|      null|  5000|
+---+----------+------+

In [ ]:
data.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Vijay| 22|       1.0|28,400|
| vijays| 22|       1.5|27,500|
|  Dhanu| 22|       2.0| 16000|
|  Deenu| 23|       2.0| 16000|
|Aswanth| 23|      null|  null|
|Srinath| 22|       1.0|  null|
|   null| 20|      null|  5000|
+-------+---+----------+------+

In [ ]:
data.na.drop().show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Vijay| 22|       1.0|28,400|
|vijays| 22|       1.5|27,500|
| Dhanu| 22|       2.0| 16000|
| Deenu| 23|       2.0| 16000|
+------+---+----------+------+

In [ ]:
#any==how
data.na.drop(how="all").show() #all means Fill the null thing in Empty row or column

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Vijay| 22|       1.0|28,400|
| vijays| 22|       1.5|27,500|
|  Dhanu| 22|       2.0| 16000|
|  Deenu| 23|       2.0| 16000|
|Aswanth| 23|      null|  null|
|Srinath| 22|       1.0|  null|
|   null| 20|      null|  5000|
+-------+---+----------+------+

In [ ]:
data.na.drop(how="any").show() #Any means remove all the rows

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Vijay| 22|       1.0|28,400|
|vijays| 22|       1.5|27,500|
| Dhanu| 22|       2.0| 16000|
| Deenu| 23|       2.0| 16000|
+------+---+----------+------+

In [ ]:
##threshold

In [ ]:
data.na.drop(how="any",thresh=3).show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Vijay| 22|       1.0|28,400|
| vijays| 22|       1.5|27,500|
|  Dhanu| 22|       2.0| 16000|
|  Deenu| 23|       2.0| 16000|
|Srinath| 22|       1.0|  null|
+-------+---+----------+------+

In [ ]:
# subset
data.na.drop(how='any',subset=['Salary']).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Vijay| 22|       1.0|28,400|
|vijays| 22|       1.5|27,500|
| Dhanu| 22|       2.0| 16000|
| Deenu| 23|       2.0| 16000|
|  null| 20|      null|  5000|
+------+---+----------+------+

In [ ]:
##filling the missing Value
data.na.fill('missingvalues',['Salary','Age']).show()

+-------+---+----------+-------------+
|   Name|Age|Experience|       Salary|
+-------+---+----------+-------------+
|  Vijay| 22|       1.0|       28,400|
| vijays| 22|       1.5|       27,500|
|  Dhanu| 22|       2.0|        16000|
|  Deenu| 23|       2.0|        16000|
|Aswanth| 23|      null|missingvalues|
|Srinath| 22|       1.0|missingvalues|
|   null| 20|      null|         5000|
+-------+---+----------+-------------+

In [ ]:
data.show()

+-------+---+----------+------+
|   Name|Age|Experience|Salary|
+-------+---+----------+------+
|  Vijay| 22|       1.0|28,400|
| vijays| 22|       1.5|27,500|
|  Dhanu| 22|       2.0| 16000|
|  Deenu| 23|       2.0| 16000|
|Aswanth| 23|      null|  null|
|Srinath| 22|       1.0|  null|
|   null| 20|      null|  5000|
+-------+---+----------+------+

In [ ]:
#imputer
from pyspark.ml.feature import Imputer

In [ ]:
imputer = Imputer(
    inputCols=['Age', 'Experience'], 
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Experience']]).setStrategy("mean")

In [ ]:
# Add imputation cols to df
imputer.fit(data).transform(data).show()

+-------+---+----------+------+-----------+------------------+
|   Name|Age|Experience|Salary|Age_imputed|Experience_imputed|
+-------+---+----------+------+-----------+------------------+
|  Vijay| 22|       1.0|28,400|         22|               1.0|
| vijays| 22|       1.5|27,500|         22|               1.5|
|  Dhanu| 22|       2.0| 16000|         22|               2.0|
|  Deenu| 23|       2.0| 16000|         23|               2.0|
|Aswanth| 23|      null|  null|         23|               1.5|
|Srinath| 22|       1.0|  null|         22|               1.0|
|   null| 20|      null|  5000|         20|               1.5|
+-------+---+----------+------+-----------+------------------+

###Pyspark DataFrames

*Filter Operations*

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark=spark.read.csv("/content/test1.csv",header=True,inferSchema=True)

In [ ]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

###Filter Operation

In [ ]:
#salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [ ]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [ ]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [ ]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & (df_pyspark['Salary']>=15000)) .show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [ ]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | (df_pyspark['Salary']>=15000)) .show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+

###Groupby and Aggregated Fuction

In [ ]:
from pyspark.sql import SparkSession

ModuleNotFoundError: ignored

In [ ]:
spark=SparkSession.builder.appName('aggregated').getOrCreate()

NameError: ignored

In [ ]:
spark

In [ ]:
spark_data=spark.read.csv("/content/test3.csv",header=True,inferSchema=True)

In [ ]:
spark_data.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [ ]:
spark_data.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

##Groupby Operations

In [ ]:
#groupby maximum salary
spark_data.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [ ]:
#max salary
spark_data.groupBy('Name').max().show()

+---------+-----------+
|     Name|max(salary)|
+---------+-----------+
|Sudhanshu|      20000|
|    Sunny|      10000|
|    Krish|      10000|
|   Mahesh|       4000|
+---------+-----------+

In [ ]:
spark_data.groupBy('Name').min().show()

+---------+-----------+
|     Name|min(salary)|
+---------+-----------+
|Sudhanshu|       5000|
|    Sunny|       2000|
|    Krish|       4000|
|   Mahesh|       3000|
+---------+-----------+

In [ ]:
spark_data.groupBy('Name').avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [ ]:
#Groupby Departments which maximum salary
spark_data.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [ ]:
spark_data.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [ ]:
spark_data.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [ ]:
spark_data.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('missing').getOrCreate()

In [ ]:
spark

In [ ]:
training=spark.read.csv("/content/test1.csv",header=True,inferSchema=True)

In [ ]:
training.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
training.columns

['Name', 'age', 'Experience', 'Salary']

In [ ]:
# [Age,Experience] ----> new feature ----> independent feature

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
featureassembler = VectorAssembler(inputCols=["age","Experience"],outputCol="Independent Features")

In [ ]:
ouput=featureassembler.transform(training)

In [ ]:
ouput.show()

+---------+---+----------+------+--------------------+
|     Name|age|Experience|Salary|Independent Features|
+---------+---+----------+------+--------------------+
|    Krish| 31|        10| 30000|         [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|          [30.0,8.0]|
|    Sunny| 29|         4| 20000|          [29.0,4.0]|
|     Paul| 24|         3| 20000|          [24.0,3.0]|
|   Harsha| 21|         1| 15000|          [21.0,1.0]|
|  Shubham| 23|         2| 18000|          [23.0,2.0]|
+---------+---+----------+------+--------------------+

In [ ]:
output=featureassembler.transform(training)

In [ ]:
output.show()

+---------+---+----------+------+--------------------+
|     Name|age|Experience|Salary|Independent Features|
+---------+---+----------+------+--------------------+
|    Krish| 31|        10| 30000|         [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|          [30.0,8.0]|
|    Sunny| 29|         4| 20000|          [29.0,4.0]|
|     Paul| 24|         3| 20000|          [24.0,3.0]|
|   Harsha| 21|         1| 15000|          [21.0,1.0]|
|  Shubham| 23|         2| 18000|          [23.0,2.0]|
+---------+---+----------+------+--------------------+

In [ ]:
output.columns

['Name', 'age', 'Experience', 'Salary', 'Independent Features']

In [ ]:
finalized_data=output.select("Independent Features","Salary")

In [ ]:
finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [ ]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='Salary')
regressor=regressor.fit(train_data)

In [ ]:

### Coefficients
regressor.coefficients

DenseVector([-102.53, 1688.6818])

In [ ]:

### Intercepts
regressor.intercept

16470.039946737463

In [ ]:
###prediction
pred=regressor.evaluate(test_data)

In [ ]:
pred.predictions.show()

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|          [30.0,8.0]| 25000|26903.595206391477|
+--------------------+------+------------------+

In [ ]:
pred.meanAbsoluteError,pred.meanSquaredError

(1903.5952063914774, 3623674.7097966117)

###Logistic in Pyspark